$castleton-green: #186049;
$dark-spring-green: #247158;
$cambridge-blue: #6ab29b;
$almond: #e4d6c8;
$isabelline: #eee7e4;
$ghost-white: #f8f8ff;
$eerie-black: #1f1f1f;
$poppy: #e42535;
$orange-web: #fdb035;
